/* Buttons */

Button {
    -fx-font-size: 16;
    -fx-font-weight: 700;
    -fx-background-radius: 30px;
    -fx-padding: 7px 30px;
    -fx-cursor: hand;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 30px;
    -fx-background-color: white;
}

.create-cx-btn {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.create-cx-btn:hover {
    -fx-background-color: red;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.submit {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.submit:hover{
    -fx-background-color: green;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.cx-btn{
    -fx-border-color: blue;
    -fx-border-width: 2px;
}

/* ComboBox */
ComboBox {
    -fx-font-size: 15px;
    -fx-font-family: Georgia;
    -fx-background-color: white;
    -fx-border-color: #C5DBC4;
    -fx-border-width: 3px;
}

/* Containers */
.scene-cont{
    -fx-background-color: #E4F1EE;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.cx-scene-cont{
    -fx-background-color: #B0E0E6;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.title-bar {
    -fx-alignment: center;
    -fx-padding: 0px 0px 10px 0px;
}

.btns-cont {
    -fx-alignment: center;
    -fx-spacing: 40px;
}

.cx-enroll-btns-cont{
    -fx-padding: 0px 0px 40px 0px
}

.student-info-cont{
    -fx-spacing: 100px;
    -fx-alignment: center;
    -fx-padding: 0px 0px 20px 90px;
}

.unval-cont{
    -fx-spacing: 45px;
}

.val-cont{
    -fx-spacing: 35px;
}

.left-hand-cont{
    -fx-spacing: 50px;
}

.right-val-cont{
    -fx-spacing: 21px;
    -fx-padding: 0px 0px 20px 0px;
}

.right-unval-cont{
    -fx-spacing: 50px;
}

.right-hand-cont{
}

.scene-lbl-cont{
    -fx-alignment: center;
}

cx-enroll-cont {
    -fx-background-color: black;
}

.confirm-cx-lbl-cont {
    -fx-alignment: center;
    -fx-padding: 40px 0px 40px 0px;
}

/* Fields */
TextField, PasswordField {
    -fx-font-size: 16px;
    -fx-min-height: 16px;
    -fx-min-width: 200px ;
    -fx-max-width: 200px;
    -fx-border-color: #C5DBC4;
    -fx-border-width: 3px;
    -fx-font-style: italic;
}

.number-tf {
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 16px;
}



/* Labels */

Label{
    -fx-font-size: 15px;
    -fx-font-family: "Georgia";
}

.invalid-input-lbl {
    -fx-fill: red;
    -fx-font-size: 15px;
}

.lbl-adj{
    -fx-padding: 8px 0px 0px 0px;
}

.student-info-lbl {
    -fx-font-size: 25px;
    -fx-font-family: "Georgia";
    -fx-padding: 10px 0px 25px 0px;
}

.confirm-cx-label{
    -fx-font-size: 20px;
    -fx-text-wrap: true;
    -fx-font-family: Georgia;
}

.empty-err-lbl{
    -fx-padding: 60px 55px 0px 0px;
}